.letters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  .letter {
    height: 2.7rem;
    font-size: 2.1rem;
    font-weight: bold;
    border-color: inherit;
    font-family: monospace;
    min-width: 1.25rem;

    &.underline {
      border-bottom: 2px solid;
    }
  }
}

@media only screen and (max-width: 440px) {
  .letters {
    gap: 0.2rem;

    .letter {
      height: 1.9rem;
      font-size: 1.4rem;
      min-width: 1rem;
    }
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

@for $i from 2 through 60 {
  .bounce:nth-child(#{$i}) {
    animation-delay: #{$i * 0.1}s;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-7px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-3px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
